@import '../../style/common.scss';

.home{
    height: 100vh;
    display: flex;
    background-color: $primary_background_color;
    &-leftMenu{
        display: flex;
        flex-direction: column;
        width: 160px;
        height: 100%;
        background-color: $primary_left_menu_color;
        .ant-menu{
            flex-grow: 1;
            background-color: $primary_left_menu_color !important;
            color: $dark_font_color;
            .ant-menu-item-selected{
                background-color: $selected_left_menu_color !important;
                border-left: $selected_item_border;
                box-sizing: content-box;
                padding-left: 20px;
            }
        }
        &-head{
            display: flex;
            flex-direction: column;
            color: $normal_font_color;
            align-items: center;
            padding: 12px 0;
            &-img{
             width: 80px;
             height: 80px;
             border-radius: 50%;
             margin-right: 4px;
             padding: 16px 0;
             box-sizing: content-box;
             cursor: pointer;
            }
            &-info{
                display: flex;
                padding-bottom: 12px;
                align-items: flex-end;
                cursor: pointer;          
            }
            &-name{
                margin-right: 4px;
                font-size: 16px;
                line-height: 16px;
            }
            &-icon{
                font-size: 12px;
                color: $dark_font_color;
            }
         }
        
    }
    &-topBar{
        height: 66px;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $normal_font_color;
        box-shadow: 1px 0 1px 1px #ccc;
        padding: 0 20px;
        &-title{
            font-size: 16px;
        }
        &-icon{
            font-size: 18px;
            padding: 0 20px;
            color: $normal_icon_color !important;
            cursor: pointer;
            &:hover{
                color: $dark_icon_color !important;
            }
        }
    }
}