$primary_color: #1890ff;
$primary_background_color: #ECF2F6;
$gray_background_color: #F5F5F5;
$primary_left_menu_color: #1B2433;
$selected_left_menu_color: #121A27;
$selected_item_border: 3px solid #00B8CE;
$normal_font_color: #fff;
$dark_font_color: #ccc;
$normal_icon_color: #999;
$dark_icon_color: #666;
$primary_red_color: #C04A69;
$primark_success_color: #21AA3A;
$weak_success_color: #4DD67F;
$primary_warn_color: #FF5542;